* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin: 0;
}

#logo {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding: 20px;
}

#logo h1 {
  font-size: 30px;
  margin: 0;
}

#o1,
#o2 {
  margin-bottom: 1px;
}

#o1 svg,
#o2 svg {
  width: 20px;
  height: 20px;
}

#sidebar {
  background-color: #f7f7f7;
  width: 200px;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-right: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar #projectList {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}

#sidebar #addProject {
  margin: 0;
  background-color: transparent;
  border: none;
}

.selected {
  font-weight: bold;
}

#addProject svg {
  height: 15px;
  width: 15px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectTitle {
  padding: 20px;
  margin: 0;
  margin-top: 20px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDo {
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr 1fr 155px 0.5fr;
  grid-template-rows: auto;
  width: 60vw;
  border: 2px solid gray;
  border-radius: 30px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: all 0.3ms ease;
}

.toDo > * {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.toDo.expanded {
  grid-template-columns: 0.5fr 5fr 1fr 155px 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "completed title priority dueDate delete"
    ". description description description .";
  align-items: center;
}

.toDo.expanded .description {
  grid-area: description;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#newProjectForm {
  display: flex;
}

#newTaskForm {
  display: grid;
  width: 60vw;
  border: 2px solid gray;
  border-radius: 30px;
  grid-template-columns: 0.5fr 5fr 1fr 155px 0.5fr;
  grid-template-rows: 30px auto auto;
  grid-template-areas:
    ". title priority dueDate delete"
    ". description description description ."
    ". . . . add";
  gap: 10px;
  padding: 10px;
  white-space: normal;
  text-wrap: wrap;
}

#newTaskForm textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
}

#newTaskForm input {
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
}

#newTaskForm input#dueDate {
  width: 155px;
}

#newTaskForm .addBtn {
  align-self: center;
}

h1 {
  font-size: 22px;
}

.completedBtn {
  width: 25px;
  height: 25px;
}

.deleteToDo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.deleteToDo svg {
  width: 30px;
  height: 30px;
}

.addBtn,
.addBtn svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.completedBtn,
#addToDo,
.addBtn,
.deleteToDo {
  border: none;
  background-color: transparent;
  padding: 0;
}

#addToDo svg,
.addBtn svg {
  width: 40px;
  height: 40px;
  fill: rgb(4, 159, 211);
  cursor: pointer;
}

.deleteToDo svg {
  width: 40px;
  fill: crimson;
  cursor: pointer;
}
